{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{% static "css/foundation.css" %}">
<link rel="stylesheet" href="{% static "css/app.css" %}">
</head>
<body>
<script>
	var gb_selected_furniture = '' ;
	var gb_selected_peg = '' ;
	var gb_min_furniture_slider = 0 ;
	var gb_max_furniture_slider = 2 ;
	var gb_min_peg_slider = 0 ;
	var gb_max_peg_slider = 7 ;
	var event_times=[];
	var furnitures= [ {% for furniture in furnitures %}
	{'name':'{{furniture.name}}',
	 'path':'{{furniture.picture_path}}',
	 'width': '{{furniture.width}}',
	 'height' : '{{furniture.height}}',
	 'peg_positions_x' : '{{furniture.peg_positions_x}}',
	 'peg_positions_y' : '{{furniture.peg_positions_y}}'
	},
	{% endfor %}];

	var pegs = [ {% for peg in pegs %}
	{'name':'{{peg.name}}',
	 'path':'{{peg.picture_path}}'	},
	{% endfor %}];

</script>
<div class="row" style="margin-bottom:10px;" id="furniture_slider">
		<div class="large-1 medium-1 columns" onclick="get_previous_furnitures('svg')">
			<div class="slider-left-button">

				<img src="{% static "img/slider_images/arrow_L.svg" %}" width="100px" style="float:left;margin-top:40px;">
			</div>
		</div>

	{% for furniture in furnitures|slice:":3" %}
	<div class="large-3 medium-3 columns" style="margin-left:20px;" onclick="select_furniture_svg('{{furniture.name}}')">
			<img class="thumbnail" src="{{furniture.picture_path}}" alt="{{furniture.name}}">
		</div>
	{% endfor %}


	<div class="large-1 medium-1 columns" onclick="get_next_furnitures('svg')">
		<div class="slider-right-button">
			<img src="{% static "img/slider_images/arrow_R.svg" width="100px" %}" style="float:right;margin-top:40px;">
		</div>
	</div>
</div>



	<div class="row">
	<div class="large-8 medium-8 small-centered medium-centered large-centered columns" style="margin:auto;">
		<svg id="mysvg" width="840px" height="410px" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink= "http://www.w3.org/1999/xlink">
			<image xlink:href="{% static "img/main_images/sofa/Ikea_Tidafors.png" %}" x="0" y="0" width="810px" height="383px"/>
			<image xlink:href="{% static "img/main_images/pegs/Aldor_teak.png" %}" x="165" y="308" width="52px" height="60px"/>
			<image xlink:href="{% static "img/main_images/pegs/Aldor_teak.png" %}" x="594" y="308" width="52px" height="60px"/>
			</svg>
</div>
</div>





<div class="row" style="margin-bottom:10px;" id="peg_slider">
	<div class="large-1 medium-1 columns" onclick="get_previous_pegs('svg')">
		<div class="slider-left-button">
			<img src="{% static "img/slider_images/arrow_L.svg" %}" width="100px" style="float:left;">
		</div>
	</div>
	{% for peg in pegs|slice:":8" %}
	<div class="large-1 medium-1 columns" style="margin-left:20px;" onclick="select_peg_svg('{{peg.name}}')">
		<img class="thumbnail" src="{{peg.picture_path}}" alt="{{peg.name}}">
	</div>
	{% endfor %}

	<div class="large-1 medium-1 columns" onclick="get_next_pegs('svg')">
	<div class="slider-right-button">
		<img src="{% static "img/slider_images/arrow_R.svg" %}" width="100px" style="float:right;">
	</div>
</div>

</div>



		<script src="{% static "js/svg_script.js" %}"></script>
    <script src="{% static "js/vendor/jquery.js" %}"></script>
    <script src="{% static "js/vendor/what-input.js" %}"></script>
    <script src="{% static "js/vendor/foundation.js" %}"></script>
    <script src="{% static "js/app.js" %}"></script>
    <script src="{% static "js/slider.js" %}"></script>
</body>
</html>
